aiohttp==3.8.4
aiosignal==1.3.1
amqp==5.1.1
anyio==3.7.0
async-timeout==4.0.2
attrs==23.1.0
billiard==4.1.0
black==23.3.0
certifi==2023.5.7
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==3.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
coverage==7.2.7
cryptography==41.0.1
dacite==1.8.1
dependency-injector==4.41.0
distlib==0.3.6
filelock==3.12.2
frozenlist==1.3.3
greenlet==2.0.2
h11==0.14.0
hiredis==2.2.3
httpcore==0.17.2
identify==2.5.24
idna==3.4
iniconfig==2.0.0
isort==5.12.0
kombu==5.3.1
multidict==6.0.4
mypy==1.4.1
mypy-extensions==1.0.0
nodeenv==1.8.0
orjson==3.9.1
packaging==23.1
pathspec==0.11.1
platformdirs==3.8.0
pluggy==1.2.0
pre-commit==3.3.3
prompt-toolkit==3.0.38
pycparser==2.21
pytest==7.4.0
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==6.0
redis==4.6.0
six==1.16.0
sniffio==1.3.0
types-pyOpenSSL==23.2.0.1
types-redis==4.6.0.2
typing_extensions==4.7.0
tzdata==2023.3
urllib3==2.0.3
vine==5.0.0
virtualenv==20.23.1
wcwidth==0.2.6
yarl==1.9.2
zope.event==5.0
zope.interface==6.0
