amqp==5.1.1
anyio==3.7.0
billiard==4.1.0
black==23.3.0
celery==5.3.1
certifi==2023.5.7
cfgv==3.3.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
coverage==7.2.7
dacite==1.8.1
distlib==0.3.6
filelock==3.12.2
gevent==22.10.2
greenlet==2.0.2
h11==0.14.0
httpcore==0.17.2
httpx==0.24.1
identify==2.5.24
idna==3.4
iniconfig==2.0.0
isort==5.12.0
kombu==5.3.1
mypy==1.4.1
mypy-extensions==1.0.0
nodeenv==1.8.0
orjson==3.9.1
packaging==23.1
pathspec==0.11.1
platformdirs==3.8.0
pluggy==1.2.0
pre-commit==3.3.3
prompt-toolkit==3.0.38
pytest==7.4.0
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==6.0
redis==4.6.0
six==1.16.0
sniffio==1.3.0
typing_extensions==4.7.0
tzdata==2023.3
vine==5.0.0
virtualenv==20.23.1
wcwidth==0.2.6
zope.event==5.0
zope.interface==6.0
